* {
    box-sizing: border-box;
    text-align: center;
}

.header {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 5px;
}

.navigation {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;

}

h1, h2, h3 {
    width: 50%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 18px;
}

.footer {
    background: #ebebeb;
    padding: 10px;
    margin-top: 20px;
    clear: both;
    top: 30%;
    
}

.mainsection {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    width: 960px;
    font-size: 18px;
}

.containerheading {
    color: #777;
}

.section {
    position: relative;
    width: 495px;
    height: 300px;
    border: 3px solid red;
    padding: 20px;
    background: #ebebeb;
}
  
.article {
    position: absolute;
    top: 25%;
    width: 495px;
    height: 120px;
    border: 3px solid blue;
    padding: 10px;
    font-size: 18px;
    margin-right: 12px;
    background: #ebebeb; 
} 
  
.aside {
    position: absolute;
    left: 45%; 
    bottom: 0%;
    width: 495px;
    height: 300px;
    border: 3px solid green; 
    background: #ebebeb; 
} 

body {
    margin: right;
    width: 960px;
}

.pagewrapped {
    width: 800px;
     margin: 0 auto;
}

.article {
    padding: 10px;
    background: #ebebeb;

}

.heading {
    position: relative;
    background: #ebebeb;
    color: #777
    
}

.paragraph {
    background: #ebebeb;
    
}

